.container {
  margin-top: 30px;
}

.add-usuario {
  margin-bottom: 30px;
}

.list-usuario {
  margin-bottom: 50px;
}

.btn-add-usuario {
  margin-right: 10px;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
  gap: 10px 20px;
}
