<p>usuario works!</p>
<div class="container">
  <div class="card list-usuario">
    <h5 class="card-header">Lista de usuarios</h5>
    <div class="card-body">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Username</th>
              <th scope="col">Password</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let usuario of usuarios">
              <td>{{usuario.id}}</td>
              <td>{{usuario.username}}</td>
              <td>{{usuario.password}}</td>
              <td>

               <button type="button" class="btn btn-warning btn-sm" (click)="editUsuario(usuario)">Editar</button>
                <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deleteUsuario(usuario)">Deletar</button>

            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>

<div class="card add-usuario">
  <h5 class="card-header">Adicionar/Atualizar Usuario</h5>
  <div class="card-body">
      <form id="add-form" (ngSubmit)="f.form.valid && saveUsuario(f)" #f="ngForm" novalidate>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" [(ngModel)]="usuario.username" id="username" name="username" #username="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && username.invalid }" placeholder="Digite o username">
            <div *ngIf="f.submitted && username.invalid" class="invalid-feedback">
                <div *ngIf="username.errors.required">username é obrigatório</div>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Passowrd</label>
            <input type="text" [(ngModel)]="usuario.password" id="password" name="password" #password="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" placeholder="Digite a passowrd">
            <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                <div *ngIf="password.errors.required">Password é obrigatória</div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-add-car">Salvar</button>
        <button type="reset" class="btn btn-secondary btn-add-car" (click)="cleanForm(f)">Cancelar</button>
      </form>
  </div>
</div>

</div>
