<div class="item">
  <div class = "image">
    <img src="#" [attr.alt]="produto?.name">
  </div>
  <div class="item__text">
    <div class ="mid">
      <div class="item__name">
        <p class= "name"><strong>{{produto?.name}}</strong></p>
      </div>
      <div class = "price">
        <p class = "item__price">R$ 3,00 / KG</p>
      </div>
    </div>
    <div class="bottom">
      <p class = description>{{produto?.descricao}}</p>

    </div>
  </div>
  <button class="item__action">+</button>
</div>
