input.form-control {
  border-radius: 90px;
  padding: 1rem 1.5rem;
}

.title {
  text-align: center;
}

.auth-container {
  max-width: 350px;
  width: 100%;
}

.card-body {
  height: 370px;
}

.loginEnterBtn{
border: 1px solid #edc232 !important;
border-radius: 2px;
background-color: #98ca61;
cursor: pointer;
color: white;
padding: 6px 20px;
align-self :right;
}

.loginPanel {
  width: 100%;
  background-color: #f5f5f5;
  padding: 20px;
  border: 1px solid #d8d8d8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  max-width: 298px;
  margin: auto;
  font-family: Arial, sans-serif;
  font-size: small;
}
.loginTitle{
  font-size: 13px;
  font-weight: bold;
  color: #cacaca;
}
.loginTextBox {
  width: 256px;
  height: 30px;
  font-size: 15px;
  outline: none;
border: 1px solid #ccc;
box-sizing: border-box;
-webkit-appearance: none;
border-radius: 0;
color: #333;
}


.cart-button {
  width: max-content;
  margin: 0 auto;
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 16px;
  border-radius: 6px;
  text-align: center;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
  span:last-child {
    margin-left: 8px;
  }
  &:hover {
    text-decoration: none;
    background-color: adjust-color($color: #467302, $lightness: -5%);
  }

}
