<div class="container">
  <div>
    <div class="logo">
      <img src="/assets/images/logo.svg" alt="logo da Feira na Mão">
    </div>
    <ul class="pages">
      <li><a [routerLink]="['page-lojas']" >Lojas</a></li>
      <li><a [routerLink]="['page-usuario']" *ngIf="ehAdmin">Usuarios</a></li>
      <li><a [routerLink]="['admin-loja']" *ngIf="ehDono">Minha loja</a></li>
      <li><a [routerLink]="['admin-produto']" *ngIf="ehDono">Meus produtos</a></li>
    </ul>
  </div>
  <div class="logout">
    <button class="danger" (click)="logout()">
      <span>Sair</span>
    </button>
    <p>Desenvolvido para a disciplina de Desenvolvimento Web da UFES - 2021</p>
  </div>
</div>
