<p>perfil works!</p>
<p>{{isUserLoggedIn}} com usuário <b>{{username}} </b></p>
<p>{{token}}</p>
<div class="container">
  <div class="card list-car">
    <h5 class="card-header">Lista de carros</h5>
    <div class="card-body">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nome</th>
              <th scope="col">Descricao</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let produto of produtos">
              <td>{{produto.id}}</td>
              <td>{{produto.name}}</td>
              <td>{{produto.descricao}}</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
